In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import factorial

### 1.   
Даны значения зарплат из выборки выпускников:  
100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. 
Посчитать (желательно без использования статистических методов наподобие std, var, mean) 
- среднее арифметическое, 
- среднее квадратичное отклонение, 
- смещенную и несмещенную оценки дисперсий для данной выборки.

In [11]:
# Поместим данные о значениях зарплат в объект DataFrame
data = 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150
salary = pd.Series(data=data)
df = pd.DataFrame(salary, columns=['salary'])
df

    salary
0      100
1       80
2       75
3       77
4       89
5       33
6       45
7       25
8       65
9       17
10      30
11      24
12      57
13      55
14      70
15      75
16      65
17      84
18      90
19     150

Определим среднее значение:  
$$M(X) = \frac{1}{n} \sum\limits_{i=1}^{n} x_i$$

In [31]:
mean_salary = df['salary'].sum()/len(df)
mean_salary == df['salary'].mean()

True

In [52]:
print('Cреднее значение: ', mean_salary)

Cреднее значение:  65.3

Определим среднее квадратичное отклонение:  
$$\sigma = \sqrt{\frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}}$$

In [48]:
std_salary = (((df['salary'] - mean_salary)**2).sum()/len(df))**0.5

In [49]:
std_salary == df['salary'].std(ddof=0)

True

In [51]:
print('Cреднее квадратичное отклонение: {:.2f}'.format(std_salary))

Cреднее квадратичное отклонение: 30.82

Определим теперь смещенную:  
$$\sigma^2 = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}$$  
и несмещенную оценку дисперсии:
$$\sigma^2_{несмещ.} = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n - 1}$$

In [42]:
variance1 = ((df['salary'] - mean_salary)**2).sum()/len(df)
variance2 = ((df['salary'] - mean_salary)**2).sum()/len(df[1:])

In [43]:
variance1 == df['salary'].var(ddof=0)

True

In [44]:
variance2 == df['salary'].var(ddof=1)

True

In [47]:
print('Смещенная оценка дисперсии: {:.2f}'.format(variance1))
print('Несмещенная оценка дисперсии: {:.2f}'.format(variance2))

Смещенная оценка дисперсии: 950.11
Несмещенная оценка дисперсии: 1000.12

### 2. 
В первом ящике находится 8 мячей, из которых 5 - белые.  
Во втором ящике - 12 мячей, из которых 5 белых.  
Из первого ящика вытаскивают случайным образом два мяча, из второго - 4.  
Какова вероятность того, что 3 мяча белые?

In [54]:
def combinations(n, k):
    return factorial(n) / (factorial(k) * factorial (n - k))

Рассмотрим сначала случай, когда мячи, вытащенные из первого ящика окажутся небелыми, а все 3 белых мяча будут вытащены из второго ящика.

Тогда для первого ящика:  
Определим вероятность того, что все мячи из первого ящика небелые, как отношение числа благоприятных исходов к числу всех возможных исходов, тогда

${C_3^2}$ - все сочетания по 2 из 3 небелых мячей

${C_8^2}$ - все сочетания по 2 для 8 мячей

In [60]:
p11 = combinations(3, 2)/combinations(8, 2)

Для второго ящика:  
Определим вероятность того, что из второго мяча будет вытащено 3 белых и один не белый шар

${C_5^3}$ - все сочетания по 3 мяча из 5 белых

${C_7^1}$ - все сочетания по 1 мячу из 7 небелых

${C_{12}^4}$ - все сочетания по 4 для 12 мячей

In [89]:
p12 = combinations(5, 3)*combinations(7, 1)/combinations(12, 4)

Тогда, вероятность, что все 3 белых мяча будут вытащены из второго ящика будет:

In [124]:
p1 = p11 * p12
print('P1 = {:.4f}'.format(p1))

P1 = 0.0016

Рассмотрим случай, когда из первого ящика будет вытащено 2, а из второго 1 белый мяч

Тогда для первого ящика:  

${C_5^2}$ - все сочетания по 2 из 5 белых мячей

${C_8^2}$ - все сочетания по 2 для 8 мячей

In [67]:
p21 = combinations(5, 2)/combinations(8, 2)

Для второго ящика:

${C_5^1}$ - все сочетания из 1 мяча для 5 белых

${C_7^3}$ - все сочетания по 3 мячей из 7 небелых

${C_{12}^4}$ - все сочетания по 4 для 12 мячей

In [86]:
p22 = combinations(5, 1)*combinations(7, 3)/combinations(12, 4)

Тогда, вероятность, что 2 белых мяча будут вытащены из первого ящика и еще один из второго будет:

In [125]:
p2 = p21*p22
print('P2 = {:.4f}'.format(p2))

P2 = 0.1263

Рассмотрим теперь случай, когда из первого ящика будет вытащен один белый и один не белый мяч,  
а из второго два белых и два не белых

Тогда для первого ящика:

${C_5^1}$ - все сочетания из одного мяча для 5 белых мячей

${C_3^1}$ - все сочетания из одного мяча для 3 небелых мячей

${C_8^2}$ - все сочетания по 2 для 8 мячей

In [118]:
p31 = combinations(5, 1)*combinations(3, 1)/combinations(8, 2)

Для второго ящика:  

${C_5^2}$ - все сочетания из двух для 5 белых мячей

${C_7^2}$ - все сочетания из двух мячей для 7 небелых мячей

${C_8^2}$ - все сочетания по 4 для 12 мячей

In [121]:
p32 = combinations(5, 2)*combinations(7, 2)/combinations(12, 4)

Вероятность, что 2 белых мяча будут вытащены из второго ящика и еще один из первого будет:

In [122]:
p3 = p31 * p32
print('P3 = {:.4f}'.format(p3))

P3 = 0.2273

Вероятность того, что три мяча - белые:

In [126]:
p = p1 + p2 + p3
print('P1 = {:.4f}'.format(p1))
print('P2 = {:.4f}'.format(p2))
print('P3 = {:.4f}'.format(p3))
print('P = p1 + p2 + p3 = {:.4f}'.format(p))

P1 = 0.0016
P2 = 0.1263
P3 = 0.2273
P = p1 + p2 + p3 = 0.3551

### 3. 
На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень.  
Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6.  
Найти вероятность того, что выстрел произведен:  
a). первым спортсменом  
б). вторым спортсменом  
в). третьим спортсменом.

In [129]:
p1 = 0.9
p2 = 0.8
p3 = 0.6
p = 1/3 * p1 + 1/3 * p2 + 1/3 * p3
print('Вероятность того, что один из стрелков попадет - {:.4f}'.format(p))
print('Вероятность, что выстрел произведен первым стрелком - {:.4f}'.format(p1/(3*p)))
print('Вероятность, что выстрел произведен вторым стрелком - {:.4f}'.format(p2/(3*p)))
print('Вероятность, что выстрел произведен третьим стрелком - {:.4f}'.format(p3/(3*p)))

Вероятность того, что один из стрелков попадет - 0.7667
Вероятность, что выстрел произведен первым стрелком - 0.3913
Вероятность, что выстрел произведен вторым стрелком - 0.3478
Вероятность, что выстрел произведен третьим стрелком - 0.2609

### 4.
В университет на факультеты A и B поступило равное количество студентов,  
а на факультет C студентов поступило столько же, сколько на A и B вместе.  
Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8.  
Для студента факультета B эта вероятность равна 0.7,  
а для студента факультета C - 0.9.  
Студент сдал первую сессию. Какова вероятность, что он учится:   
a). на факультете A    
б). на факультете B  
в). на факультете C?

Вычислим сначала полную вероятность того, что студент одного из факультетов сдаст сессию

In [109]:
p_a1 = 0.8
p_a2 = 0.7
p_a3 = 0.9
p_b1 = p_b2 = 0.25
p_b3 = p_b1 + p_b2
P_A = p_a1*p_b1 + p_a2*p_b2 + p_a3*p_b3
print('{:.3f}'.format(P_A))

0.825

Определим теперь вероятности для студентов каждого факультета по формуле Байеса:

In [110]:
p_b_a1 = p_a1*p_b1/P_A
p_b_a2 = p_a2*p_b2/P_A
p_b_a3 = p_a3*p_b3/P_A
print('Вероятность что студетнт сдал сессию и учится на факультете А - {:.3f}'.format(p_b_a1))
print('Вероятность что студетнт сдал сессию и учится на факультете В - {:.3f}'.format(p_b_a2))
print('Вероятность что студетнт сдал сессию и учится на факультете С - {:.3f}'.format(p_b_a3))

Вероятность что студетнт сдал сессию и учится на факультете А - 0.242
Вероятность что студетнт сдал сессию и учится на факультете В - 0.212
Вероятность что студетнт сдал сессию и учится на факультете С - 0.545

### 5. 
Устройство состоит из трех деталей.  
Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2,  для третьей - 0.25. 
Какова вероятность того, что в первый месяц выйдут из строя:  
а). все детали  
б). только две детали  
в). хотя бы одна деталь  
г). от одной до двух деталей?

In [130]:
p1 = 0.1
p2 = 0.2
p3 = 0.25
q1 = 1 - p1
q2 = 1 - p2
q3 = 1 - p3

Тогда вероятность, что все 3 детали выйдут из строя составит:

In [114]:
p123 = p1*p2*p3
print('Вероятность того, что все 3 детали выйдут из строя - {:.3f}'.format(p123))

Вероятность того, что все 3 детали выйдут из строя - 0.005

Вероятность того, что из строя выйдут только две детали:

In [131]:
p12 = p1*p2*q3 #вероятность того, что из строя выйдет первая и вторая детали
p13 = p1*q2*p3 #вероятность того, что из строя выйдет первая и третья детали
p23 = q1*p2*p3 #вероятность того, что из строя выйдут вторая и третья детали
p12_13_23 = p12 + p13 + p23 #вероятность того, что из строя выйдут любые две детали
print('Вероятность того, что из строя выйдут 2 детали - {:.3f}'.format(p12_13_23))

Вероятность того, что из строя выйдут 2 детали - 0.080

Вероятность того, что из строя выйдет хотя-бы одна деталь:

In [132]:
pq1 = 1 - q1*q2*q3
print('Вероятность того, что из строя выйдет 1 деталь - {:.3f}'.format(pq1))

Вероятность того, что из строя выйдет 1 деталь - 0.460

Вероятность того, что из строя выйдет от одной до двух деталей:

In [134]:
pq2 = 1 - p1*p2*p3 - q1*q2*q3
print('Вероятность того, что из строя выйдет от одной до двух деталей - {:.3f}'.format(pq2))

Вероятность того, что из строя выйдет от одной до двух деталей - 0.455